._*
*~ 
#* 
.#* 
,* 
_$* 
*$ 
*.a 
*.bak 
*.BAK 
build
*.cache*
CMakeCache.txt
CMakeFiles
crash-*
.del-* 
.DS_Store*
*.elc 
*.exe 
*.gz
.idea
*.ln
MANIFEST.in
*.o 
*.olb 
*.old 
*.obj 
*.orig 
.project
*.pyc
.pydevproject
*.rej 
.settings
*.so 
*.tar
*.tar.gz
*.Z 
*.zip


