#barcharts_main {
  position: absolute; 
  left: 0px;
  top: 60px;
  width: 880px;
}
.barcharts {
  position: absolute;
  left: 40px; 
}
#voice_post_bars {
  top: 35px; 
}
#voice_pre_bars {
  top: 35px; 
}
#walk_post_bars {
  top: 130px; 
}
#walk_pre_bars {
  top: 130px; 
}
#stand_post_bars {
  top: 225px; 
}
#stand_pre_bars {
  top: 225px; 
}
#tap_post_bars {
  top: 320px; 
}
#tap_pre_bars {
  top: 320px; 
}

.barchart_legends {
  position: absolute;
  height: 50px;
}
#voice_legend_bars {
  left: 925px;
  top: 65px; 
}
#walk_legend_bars {
  left: 950px;
  top: 160px; 
}
#stand_legend_bars {
  left: 940px;
  top: 255px; 
}
#tap_legend_bars {
  left: 940px;
  top: 335px; 
  height: 65px;
}

.barchart_prepost {
  position: absolute;
  left: 0px; 
  font-size: 14px;
}

#voice_post {
  top: 62px; 
  color: #9F5B0D;
}
#voice_pre {
  top: 76px; 
  color: #EEBE32;
}
#walk_post {
  top: 157px; 
  color: #2C1EA2;
}
#walk_pre {
  top: 171px; 
  color: #20AED8;
}
#stand_post {
  top: 252px; 
  color: #151515;
}
#stand_pre {
  top: 266px; 
  color: #6E6E6E;
}
#tap_post {
  top: 347px; 
  color: #C02504;
}
#tap_pre {
  top: 361px; 
  color: #F78181;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#xaxis_label {
  position: absolute;
  top: 430px;
  #text-align: center;
  left: 430px;
  font: 14px sans-serif;
}

.yaxis_labels {
  position: absolute;
  left: 30px;
  font: 10px sans-serif;
}
#yaxis_label1 {
  top: 30px;
}
#yaxis_label2 {
  top: 110px;
}
#yaxis_label3 {
  top: 125px;
}
#yaxis_label4 {
  top: 205px;
}
#yaxis_label5 {
  top: 220px;
}
#yaxis_label6 {
  top: 300px;
}
#yaxis_label7 {
  top: 315px;
}
#yaxis_label8 {
  top: 395px;
}

.footer {
  position: absolute;
  top: 640px;
  left: 100px;
}