#bar_chart {
  position: absolute; 
  left: -60px;
  top: 1500px;
  width: 1000px; 
  margin: 0 auto 0px auto;
  padding: 20px 30px;
}

.barchart_legends {
  position: absolute;
  height: 50px;
}
#voice_legend {
  left: 985px;
  top: 65px; 
}
#walk_legend {
  left: 1010px;
  top: 160px; 
}
#stand_legend {
  left: 1000px;
  top: 255px; 
}
#tap_legend {
  left: 1000px;
  top: 335px; 
  height: 65px;
}

.barchart_activity {
  position: absolute;
  left: 90px; 
  font-size: 14px;
}
#voice_post {
  top: 27px; 
  color: #9F5B0D;
}
#voice_pre {
  top: 41px; 
  color: #EEBE32;
}
#walk_post {
  top: 122px; 
  color: #2C1EA2;
}
#walk_pre {
  top: 136px; 
  color: #20AED8;
}
#stand_post {
  top: 217px; 
  color: #151515;
}
#stand_pre {
  top: 231px; 
  color: #6E6E6E;
}
#tap_post {
  top: 312px; 
  color: #C02504;
}
#tap_pre {
  top: 326px; 
  color: #F78181;
}
